<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        .wrapper{
            width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Display Data</h2>
                    </div>
                    <p>Detail Data</p>
					
<table class='table table-bordered table-striped'>
{% for item in data %}	
<tr>
    <td><label>Photo</label></td>
    <td><img src="{{item["Empphoto"]}}" width=80 height=65></td>
</tr>
<tr>
<td><label>Employee ID</label></td>
<td><input type="text" name="Empid" class="txtField" value="{{item["Empid"]}}" style="background-color:white; color:black;" readonly="readonly"></td>
</tr>
<tr>
<td><label>Name</label></td>
<td><input type="text" name="Empname" class="txtField" value="{{item["Empname"]}}" style="background-color:white; color:black;" readonly="readonly"></td>
</tr>
<tr>
<td><label>Position</label></td>
<td><input type="text" name="Emppost" class="txtField" value="{{item["Emppost"]}}" style="background-color:white; color:black;" readonly="readonly"></td>
</tr>
{% endfor %}
        <tr>
            <td></td>
            <td>
                <a href="{{ url_for('homepage') }}" class='btn btn-primary'>Back</a>
            </td>
        </tr>
</table>						
                </div>
            </div>        
        </div>
    </div>
</body>
</html>